<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link href="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.js"></script>
  <script src="Script.js" defer></script>
  <!-- This script loads the Vue and Vuetify app logic -->
</head>

<style> 
  /* Here we used the CSS @font-face structure to upload three different Poppins fonts to our project: regular, bold, and italics. 
  It is important that the .ttf files (downloaded from Google Fonts) which contain the font information are located with the rest of our coding files. 
  Once the fonts are made avialable in this <style> block, they can be accessed in our main HTML code using style="font-family: _____;" */

  @font-face {
  font-family: "Poppins";  
  src: url("Poppins-Regular.ttf") format("truetype");  
  font-weight: normal;
  font-style: normal;
  }
  
  @font-face {
  font-family: "Poppins Bold";  
  src: url("Poppins-Bold.ttf") format("truetype");  
  font-weight: bold;
  font-style: normal;
  }
  
  @font-face {
  font-family: "Poppins Italic";  
  src: url("Poppins-Italic.ttf") format("truetype");  
  font-weight: normal;
  font-style: italic;
  }
  
</style>
  
<!-- Throughout this code, we use vw (viewport width) and vh (viewport height) to size various components. We use this format because it allows components to shrink or grow if the display screen is maximized/minimized by the user. --> 
  
<div id="app">

  <body>
    <v-app :style="{ backgroundColor: backgroundColour }">
      <v-main>

      <v-app-bar color="#4E8D9C">
        <v-app-bar-nav-icon variant="text" @click="openNavDrawer()"></v-app-bar-nav-icon> 
          <!-- When the user clicks this app bar icon, it triggers the "openNavDrawer" function, which toggles the navigation bar open and closed.-->
        <v-app-bar-title style="font-family: Poppins";>Collective App: Maritime Commerce and Whale Risks</v-app-bar-title>
      </v-app-bar>

      <v-navigation-drawer v-if="navDrawerOpen" color="#4E8D9C" style="font-family: Poppins;"> <!-- If the boolean "navDrawerOpen" is true, the navigation bar will pop open. From here, the user can click on links that take them to each of the app modules. -->
        <v-list-item style="font-family: Poppins Bold;" href="https://artssci.github.io/Maritime-Commerce-and-Whale-Risks-Collective-App/" title="Home"></v-list-item>
        <v-divider></v-divider>
        <v-list-item href="https://ameliag116.github.io/Ocean-Route-Explorer/" title="Ocean Route Explorer"></v-list-item> <!-- "href" is a keyword that is used when a link is external.-->
        <v-list-item href="https://nkkkkkkkkkkk.github.io/Temporal-Tides/" title="Temporal Tides"></v-list-item>
        <v-list-item href="https://madsb04.github.io/Ocean-Commotion-/" title="Ocean Commotion"></v-list-item>
        <v-list-item href="https://genevawhite.github.io/genevacoding/" title="Indigenous Perspectives"></v-list-item>
        <v-list-item href="https://safiya-fs.github.io/Whale-Anatomy-Module/" title="Dive Into the World of Whales"></v-list-item>
        <v-list-item href="https://alipanju12.github.io/Traditional-Ecological-Knowledge-connection-to-Whales/" title="Untitled"></v-list-item>
      </v-navigation-drawer>      

      <template v-if="!gameComplete">
        <v-card variant="flat" style="position:absolute; z-index:1; left: 5%; top:40%; width: 20vw; height: 30vh;" color="#85C79A" >
          <!-- This is the score panel. It displays the current score and a thematic whale image. Add gameplay controls here later (eg. Reset Game button) if needed -->
          <!-- scoreCount should change when a user answers a question (correct/incorrect conditions). -->
          <v-card-title style="font-family: Poppins Bold; font-size: 1.5vw; color:white;" class="pb-0" > Score </v-card-title>
          <v-card-text style="font-family: Poppins; font-size: 1.5vw; color:white;" class="pb-0"> {{scoreCount}} </v-card-text>
          <div align="center">
            <v-img :src="imageScoreCard" style="height: 9vw;"></v-img>
            <!-- This is the whale image used for the menu. Keep this image available in the same folder so Vuetify can load it-->
          
          </div>
        </v-card>

        <v-btn style="position:absolute; z-index:1; left: 5%; top:10%; font-family: Poppins; width: 20vw; height: 12vh; font-size: 1.25vw; color:white;" color="#85C79A">Tutorial Walkthrough</v-btn>
          <!-- This button will allow the user to re-access the walkthrough whenever they need a refresher. Add an @click to give it functionality. -->

        <v-btn style="position:absolute; z-index:1; left: 5%; top:25%; font-family: Poppins; width: 20vw; height: 12vh; font-size: 1.5vw; color:white;" color="#85C79A">Learn More</v-btn>
          <!-- This button provides the user with access to a comprehensive bibliography. Add an @click to give it functionality. -->

        <div class="position-absolute right-0 pa-2">
          <v-card variant="flat" style="width: 71vw;" color="#281C59"
            class="mx-auto text-center ma-3 text-pre-wrap">
            <v-card-title style="font-family: Poppins Bold; font-size: 1.75vw; color:white;">The Impact of Human Activity on Whales' Longterm Wellbeing</v-card-title>
            <v-card-subtitle class="mb-2" style="font-family: Poppins; font-size: 1.5vw; color:white;">Jeopardy: Whale Health Edition</v-card-subtitle>
            <!-- This is the board title / header. This is the main identity label for the module, aligned with the theme in the instruction card -->
          </v-card>

          <v-container align="center" class="mt-6">
            <v-row align="center" style="width: 73vw;">
              <v-col v-for="item in categories" :key="item.name" align="center">
                <!-- Here, categories are generated from the JS categories array. We need to ensure that the question bank aligns with these categories (each column corresponds to a category)-->
                
                <v-card variant="flat" color="#281C59" style="width: 11vw;">
                  <v-card-title style="font-family: Poppins; font-size: 1.5vw; color:white;">{{item.name}}</v-card-title>
                </v-card>
              </v-col>

              <v-col v-for="item in lowDiscomfortRow" :key="item.button" class="d-flex justify-center mt-4" >
                <!-- This loop generates the 200-point question buttons for the first row. -->
                
                <v-btn @click="toggleCardOpenClose(item)" style="font-family: Poppins; width: 11vw; height: 9vh; color: #281C59;" size="x-large" :color="getTileColor(item.button)" :disabled="isAnswered(item.button)">{{item.points}}</v-btn>
                <!-- color is decided by the getTileColor function and the isAnswered function -->

                  <v-dialog persistent v-model=item.showCard.value style="width: 85vw;" align=center>
                      <v-card color="white">
                        <v-card-title style="font-family: Poppins; color: #281C59;" class="text-pre-wrap ma-6">{{item.content}}</v-card-title>

                          <v-row>
                              <v-col cols="6">
                                <!--Each button is connected to the validateResult funtion. The button can only trigger the function once, so that the user cannot gain points over and over again by selecting the right answer. -->
                                <v-btn color="#4E8D9C" style="font-family: Poppins; width: 35vw; height: 4vh; color: white;" @click.once="validateResult(item.answerA, item.correctAnswer, item.button, item.points)" :disabled="isAnswered(item.button)">{{item.answerA}}</v-btn>
                                <!--the buttons are disabled once the correct answer is clicked on. The disabled property becomes true once the button object (the ID) is found in the list of answeredQuestions-->
                              </v-col>
                              <v-col cols="6">
                                <v-btn color="#4E8D9C" style="font-family: Poppins; width: 35vw; height: 4vh; color: white;" @click.once="validateResult(item.answerB, item.correctAnswer, item.button, item.points)" :disabled="isAnswered(item.button)">{{item.answerB}}</v-btn>
                              </v-col>
                              <v-col cols="6">
                                <v-btn color="#4E8D9C" style="font-family: Poppins; width: 35vw; height: 4vh; color: white;" @click.once="validateResult(item.answerC, item.correctAnswer, item.button, item.points)" :disabled="isAnswered(item.button)">{{item.answerC}}</v-btn>
                              </v-col>
                              <v-col cols="6">
                                <v-btn color="#4E8D9C" style="font-family: Poppins; width: 35vw; height: 4vh; color: white;" @click.once="validateResult(item.answerD, item.correctAnswer, item.button, item.points)" :disabled="isAnswered(item.button)">{{item.answerD}}</v-btn>
                              </v-col>
                          </v-row>

                          <v-card-text v-if="correctSelection == true" style="font-family: Poppins; color: #85C79A;" class="font-weight-bold pa-8">
                            That is correct! {{ item.explanation }} 
                          </v-card-text>

                          <v-card-text v-if="correctSelection == false" style="font-family: Poppins; color: #4E8D9C;" class="font-weight-bold pa-8">
                            That is incorrect. {{ item.explanation }}  
                          </v-card-text>
                        
                          <div align=center class="pa-4"> 
                            <v-img :src="imageQuestionCard" max-width="35%" class="ma-4"> </v-img>
                            <v-btn color="#85C79A" style="font-family: Poppins; width: 15vw; height: 4vh; color: #281C59;" @click="toggleCardOpenClose(item)">Exit</v-btn>
                          </div>

                      </v-card>
                  </v-dialog>
              </v-col>

              <!-- This is the same as previously, but for the second row of buttons. -->
              <v-col v-for="item in mediumDiscomfortRow" :key="item.button" align="center">
                  <v-btn @click="toggleCardOpenClose(item)" style="font-family: Poppins; width: 11vw; height: 9vh; color: #281C59;" size="x-large" :color="getTileColor(item.button)" :disabled="isAnswered(item.button)">{{item.points}}</v-btn>

                  <v-dialog persistent v-model="item.showCard.value" style="width: 85vw;" align="center">
                      <v-card color="white">
                        <v-card-title style="font-family: Poppins; color: #281C59;" class="text-pre-wrap ma-6">{{item.content}}</v-card-title>

                          <v-row>
                              <v-col cols="6">
                                <!--Each button is connected to the validateResult function. The button can only trigger the function once, so that the user cannot gain points over and over again by selecting the right answer. -->
                                <v-btn color="#4E8D9C" style="font-family: Poppins; width: 35vw; height: 4vh; color: white;" @click.once="validateResult(item.answerA, item.correctAnswer, item.button, item.points)" :disabled="isAnswered(item.button)">{{item.answerA}}</v-btn> 
                              </v-col>
                              <v-col cols="6">
                                <v-btn color="#4E8D9C" style="font-family: Poppins; width: 35vw; height: 4vh; color: white;" @click.once="validateResult(item.answerB, item.correctAnswer, item.button, item.points)" :disabled="isAnswered(item.button)">{{item.answerB}}</v-btn>
                              </v-col>
                              <v-col cols="6">
                                <v-btn color="#4E8D9C" style="font-family: Poppins; width: 35vw; height: 4vh; color: white;" @click.once="validateResult(item.answerC, item.correctAnswer, item.button, item.points)" :disabled="isAnswered(item.button)">{{item.answerC}}</v-btn>
                              </v-col>
                              <v-col cols="6">
                                <v-btn color="#4E8D9C" style="font-family: Poppins; width: 35vw; height: 4vh; color: white;" @click.once="validateResult(item.answerD, item.correctAnswer, item.button, item.points)" :disabled="isAnswered(item.button)">{{item.answerD}}</v-btn>
                              </v-col>
                          </v-row>

                          <v-card-text v-if="correctSelection == true" style="font-family: Poppins; color: #85C79A;" class="font-weight-bold pa-8">
                            That is correct! {{ item.explanation }}  
                          </v-card-text>

                          <v-card-text v-if="correctSelection == false" style="font-family: Poppins; color: #4E8D9C;" class="font-weight-bold pa-8">
                            That is incorrect. {{ item.explanation }}  
                          </v-card-text>
                            
                          <div align=center class="pa-4"> 
                            <v-img :src="imageQuestionCard" max-width="35%" class="ma-4"> </v-img>
                            <v-btn color="#85C79A" style="font-family: Poppins; width: 15vw; height: 4vh; color: #281C59;" @click="toggleCardOpenClose(item)" >Exit</v-btn>
                          </div>

                      </v-card>
                  </v-dialog>
              </v-col>

              <!-- This is the same as previously, but for the third row of buttons. -->
              <v-col v-for="item in highDiscomfortRow" :key="item.button" align="center">
                  <v-btn @click="toggleCardOpenClose(item)" style="font-family: Poppins; width: 11vw; height: 9vh; color: #281C59;" size="x-large" :color="getTileColor(item.button)" :disabled="isAnswered(item.button)">{{item.points}}</v-btn>

                  <v-dialog persistent v-model=item.showCard.value style="width: 85vw;" align=center>
                      <v-card color="white">
                        <v-card-title style="font-family: Poppins; color: #281C59;" class="text-pre-wrap ma-6">{{item.content}}</v-card-title>

                          <v-row>
                              <v-col cols="6">
                                <!--Each button is connected to the validateResult funtion. The button can only trigger the function once, so that the user cannot gain points over and over again by selecting the right answer. -->
                                <v-btn color="#4E8D9C" style="font-family: Poppins; width: 35vw; height: 4vh; color: white;" @click.once="validateResult(item.answerA, item.correctAnswer, item.button, item.points)" :disabled="isAnswered(item.button)">{{item.answerA}}</v-btn> 
                              </v-col>
                              <v-col cols="6">
                                <v-btn color="#4E8D9C" style="font-family: Poppins; width: 35vw; height: 4vh; color: white;" @click.once="validateResult(item.answerB, item.correctAnswer, item.button, item.points)" :disabled="isAnswered(item.button)">{{item.answerB}}</v-btn>
                              </v-col>
                              <v-col cols="6">
                                <v-btn color="#4E8D9C" style="font-family: Poppins; width: 35vw; height: 4vh; color: white;" @click.once="validateResult(item.answerC, item.correctAnswer, item.button, item.points)" :disabled="isAnswered(item.button)">{{item.answerC}}</v-btn>
                              </v-col>
                              <v-col cols="6">
                                <v-btn color="#4E8D9C" style="font-family: Poppins; width: 35vw; height: 4vh; color: white;" @click.once="validateResult(item.answerD, item.correctAnswer, item.button, item.points)" :disabled="isAnswered(item.button)">{{item.answerD}}</v-btn>
                              </v-col>
                          </v-row>

                          <v-card-text v-if="correctSelection == true" style="font-family: Poppins; color: #85C79A;" class="font-weight-bold pa-8">
                            That is correct! {{ item.explanation }} 
                          </v-card-text>

                          <v-card-text v-if="correctSelection == false" style="font-family: Poppins; color: #4E8D9C;" class="font-weight-bold pa-8">
                            That is incorrect. {{ item.explanation }}  
                          </v-card-text>
                            
                        
                          <div align=center class="pa-4"> 
                            <v-img :src="imageQuestionCard" max-width="35%" class="ma-4"> </v-img>
                            <v-btn color="#85C79A" style="font-family: Poppins; width: 15vw; height: 4vh; color: #281C59;" @click="toggleCardOpenClose(item)" >Exit</v-btn>
                          </div>

                      </v-card>
                  </v-dialog>
              </v-col>

              <!-- This is the same as previously, but for the fourth row of buttons. -->
              <v-col v-for="item in extremeDiscomfortRow" :key="item.button" align="center">
                  <v-btn @click="toggleCardOpenClose(item)" style="font-family: Poppins; width: 11vw; height: 9vh; color: #281C59;" size="x-large" :color="getTileColor(item.button)" :disabled="isAnswered(item.button)">{{item.points}}</v-btn>

                  <v-dialog persistent v-model=item.showCard.value style="width: 85vw;" align=center>
                      <v-card color="white">
                        <v-card-title style="font-family: Poppins;" class="text-pre-wrap ma-6">{{item.content}}</v-card-title>

                          <v-row>
                              <v-col cols="6">
                                <!--Each button is connected to the validateResult funtion. The button can only trigger the function once, so that the user cannot gain points over and over again by selecting the right answer. -->
                                <v-btn color="#4E8D9C" style="font-family: Poppins; width: 35vw; height: 4vh; color: white;" @click.once="validateResult(item.answerA, item.correctAnswer, item.button, item.points)" :disabled="isAnswered(item.button)">{{item.answerA}}</v-btn> 
                              </v-col>
                              <v-col cols="6">
                                <v-btn color="#4E8D9C" style="font-family: Poppins; width: 35vw; height: 4vh; color: white;" @click.once="validateResult(item.answerB, item.correctAnswer, item.button, item.points)" :disabled="isAnswered(item.button)">{{item.answerB}}</v-btn>
                              </v-col>
                              <v-col cols="6">
                                <v-btn color="#4E8D9C" style="font-family: Poppins; width: 35vw; height: 4vh; color: white;" @click.once="validateResult(item.answerC, item.correctAnswer, item.button, item.points)" :disabled="isAnswered(item.button)">{{item.answerC}}</v-btn>
                              </v-col>
                              <v-col cols="6">
                                <v-btn color="#4E8D9C" style="font-family: Poppins; width: 35vw; height: 4vh; color: white;" @click.once="validateResult(item.answerD, item.correctAnswer, item.button, item.points)" :disabled="isAnswered(item.button)">{{item.answerD}}</v-btn>
                              </v-col>
                          </v-row>

                          <v-card-text v-if="correctSelection == true" style="font-family: Poppins; color: #85C79A;" class="font-weight-bold pa-8">
                            That is correct! {{ item.explanation }} 
                          </v-card-text>

                          <v-card-text v-if="correctSelection == false" style="font-family: Poppins; color: #4E8D9C;" class="font-weight-bold pa-8">
                            That is incorrect. {{ item.explanation }}  
                          </v-card-text>
                        
                          <div align=center class="pa-4"> 
                            <v-img :src="imageQuestionCard" max-width="35%" class="ma-4"> </v-img>
                            <v-btn color="#85C79A" style="font-family: Poppins; width: 15vw; height: 4vh; color: #281C59;" @click="toggleCardOpenClose(item)" >Exit</v-btn>
                          </div>

                      </v-card>
                  </v-dialog>
              </v-col>
            </v-row>

          </v-container>
        </div>
        
      </template>

      <div class="d-flex justify-center align-center" style="min-height: 100vh;">
        <v-card v-if="gameComplete" style="width: 85vw; height: 70vh;" class="text-center">
          <v-card-title style="font-family: Poppins; font-size: 2.5vw; color: #4E8D9C;">Experience Completed!</v-card-title>
          <v-card-text style="font-family: Poppins; font-size: 2vw; color: #281C59;">Well done. You're one step closer to unlearning anthropocentrism.</v-card-text>
          <v-card-text style="font-family: Poppins; font-size: 1.5vw; color: #281C59;">Overall, you earned {{ scoreCount }} points. </v-card-text>
          <v-img :src="imageQuestionCard" style="width: 20vw; margin: 0 auto; display: block;"></v-img>
          <v-btn @click="restartGame" color="#85C79A" style="font-family: Poppins; width: 15vw; height: 7vh; font-size: 1.5vw; color: white;">Play Again</v-btn>
        </v-card>
      </div>

    </v-main>
    </v-app>

  </body>
</div>    

</html>
